\begin{frame}
\frametitle{ {{- action_title | latex_escape -}} }
\vspace{0.5em}
\begin{enumerate}
{% for item in items %}
  \item {\bfseries {{ item | latex_escape }}}
{% endfor %}
\end{enumerate}
{% if notes %}
\note{ {{- notes | latex_escape -}} }
{% endif %}
\end{frame}
