\documentclass[aspectratio=169]{beamer}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{xcolor}
\usepackage{booktabs}

{{ theme.preamble }}

\title{ {{- deck_title | latex_escape -}} }
\author{ {{- author | latex_escape -}} }
\date{}

\begin{document}

{% for slide_content in slides_content %}
{{ slide_content }}
{% endfor %}

\end{document}
